* {
  font-family: "Open Sans", sans-serif;
}
/*<!---------Start----------------------------------Rohan-Code--Front--Page--Part--2-------------------------Simple steps for your development-----TO----------------Show More Events--------------------------------------------------------------->*/
 .upper-text-1, .upper-text-2, .upper-text-3{
        text-align: center;
        font-size: 30px;
    }
    .upper-text-2{
        margin-bottom: 1%;
    }
    .upper-text-3-1{
        text-align: center;
        font-size: 17px;
        color: grey;
        position: relative;
        bottom: 30px;
    }
    .main-1, .main-2, .main-3{
        width: 90%;
        display: flex;
        margin-left: 5%;
        border-radius: 2px;
    }
    .main-1{
        height: 300px;
        background-color: white;
        margin-bottom: 2%;
    }
    .main-2{
        height: 187px;
        margin-top: 3%;
    }
    .main-3{
        height: 150px;
    }
    .flex-1, .flex2, .flex-3{
        background-color: white;
        border-radius: 2px;
        flex-direction: column-reverse;
        border: 2px solid white;
    }
    .flex-4, .flex-5, .flex-6{
        flex-direction: column-reverse;
        width: 28%;
        height: 150px;
        background-color: white;
        border-radius: 2px;
    }
    .flex-5{
        margin-left: 6%;
    }
    .flex-6{
        margin-left: 6%;
    }
    .text-1, .text-2, .text-3{
        width: 16.7%;
        height: 170px;
    }
    .text-1{
        margin-left: 1%;
    }
    .text-2{
        margin-left: 8%;
    }
    .text-3{
        margin-left: 10%;
    }
    .details{
        color: grey;
        font-size: 17px;
        line-height: 1.4;
    }
    .img-2{
        margin-left: 90%;
    }
    .img-3{
        margin-left: 110%;
    }
    .img-5{
        margin-left: 6%;
    }
    .img-6{
        margin-left: 6%;
    }
    .text-4, .text-5, .text-6{
        font-size: 12px;
        margin-left: 5%;
    }
    .get-started{
        margin-top: 8%;
        margin-left: 7%;
        color:blue;
        font-size: 18px;
        background-color: white;
        border: 0;
        background: none;
        -webkit-appearance: none;
        font: bolder;
    }
    .see-more-topics{
        border: 0;
        background: none;
        -webkit-appearance: none;
        color: blue;
        margin-left: 43%;
        margin-top: 3%;
        font-size: 18px;
    }
    .main-4{
        width: 60%;
        height: 900px;
        margin-left: 22%;
    }
    .rectangle-1, .rectangle-2, .rectangle-3{
        width: 98%;
        height: 250px;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .rect-text-1{
        margin-left: 3%;
        border: 4px solid white;
    }
    .rectangle-2{
        margin-top: 3%;
    }
    .rectangle-3{
        margin-top: 3%;
    }
    .loc-img-1{
        position: relative;
        left: 2%;
        top: 4%; 
    }
    .loc-text-1{
        position: relative;
        bottom: 15%;
        left: 8%;
        color: grey;
        font-size: 18px;
    }
    .cal-img-1{
        position: relative;
        bottom: 20%;
        left: 2%;
    }
    .cal-text-1{
        position: relative;
        bottom: 40%;
        left: 8%;
        color: grey;
    }
    .register-btn, .btn-events{
        border: 0;
        background: none;
        -webkit-appearance: none;
        font-size: 20px;
    }
    .register-btn{
        color: #48cae4;
    }
    .reg-b:hover{
        color: purple;
    }
    .btn-events{
        color: #00b4d8;
    }
    .btn{
        position: relative;
        left: 70%;
        bottom: 60%;
        width: 20%;
        height: 50px;
    }
    .see-more-events{
        text-align: center;
        width: 30%;
        height: 30px;
        background-color: #f8edeb;
        margin-left: 35%;
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 1%;
    }
/*<!---------End----------------------------------Rohan-Code--Front--Page--Part--2-------------------------Simple steps for your development-----TO----------------Show More Events--------------------------------------------------------------->*/
body {
  background-color: rgb(248, 249, 251);
}

#video-cards-container {
  display: flex;
  padding: 10px;
  max-width: 1050px;
  margin: 0px auto;
  height: auto;
}

.video-card {
  flex-basis: 324px;
  background-color: white;
  margin: 30px;
  height: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.video-card-info {
  position: relative;
  padding: 20px;
  color: grey;
  width: auto;
  min-height: 185px;
  margin: auto;
}

.video-card-info > p:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-card-info > p:nth-child(2) {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

.heading {
  text-align: center;
}
.heading > p {
  color: grey;
}
iframe {
  width: 100%;
  height: 182px;
}

/* Partners */

.partner-img {
  display: none;
  height: 250px;
}
.partner-img > img {
  height: 180px;
  margin-left: 23%;
}

.Partners {
  background-color: white;
  padding: 30px;
  margin-bottom: 50px;
}
.Partners > h2 {
  text-align: center;
  margin-bottom: 50px;
}

/* slideshow containers */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(102, 102, 230);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.partner-img-text {
  color: grey;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  bottom: 8px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* footer */
.footer {
  width: 90%;
  margin: 5px auto;
}

.footer-share {
  text-align: right;
}

.footer-link-FAQs,
.footer-link-privacy {
  text-decoration: none;
  color: rgb(54, 54, 54);
  font-size: 13px;
  margin-right: 50px;
}

.footer-links {
  margin-left: 70px;
}
.footer-sharing-text {
  font-weight: bold;
  color: rgb(48, 47, 47);
}
.footer-languages-dropdown {
  border: none;
  background-color: transparent;
  font-size: 17px;
}

.footer > hr {
  margin-bottom: 25px;
  margin-top: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
