* {
  font-family: "Open Sans", sans-serif;
}
.garage_img{
  width: 200px;height: 30px ;
} .menu{
  position: fixed;;
  top: 0px;
  background-color: white;
  height: 10%;
  /* margin: 10px; */
  width: 100%;
  }
  .float-left{
      float: left;
  }
  .float-right{
      float: right;
  }
  .menu>div{
      margin: 10px;
      
  }
.button{
    background-color:blue;
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 10px;
    

}
.margin{
    margin: 10px;
}
.blue1{
    color: blue;
}
.float-right{
  float: right;

}
.float-left{
  float: left;
}
.get_new{
  height: 80%; width: 50%; float: left;
}
.get_new>img{
  height: 100%;;width: 100%;
}
.get_new>div>h1{
  /* font-family: 'Roboto Condensed', sans-serif; */
  margin-top: 30px;
  font-weight: 400;
  font-size: 50px;
}
.get_new>div{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 10px;
  padding-left: 35px;
  font-weight: 400;
  font-size: 20px;
}
.get_start_button{
  height: 40px;
  width: 150px;
  background-color: rgb(37, 37, 255);
  border-radius: 5px;
}
.gain_today{
  text-align: center;
}
.button_red{
  width: 250px;
  border-radius: 30px;
  margin-left: 200px;
  height: 50px;
  float: left;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
  color:red;
  border: white;
}
.red:hover{
  background-color:red;
  color: white;
}
.button_green{
  border: white;
  width: 250px;
  border-radius: 30px;
  margin-left: 10px;
  height: 50px;
  float: left;
  font-size: 20px;
  font-weight: 600;
  color: green;
}
.green:hover{
  background-color:green;
  color: white;
}
.button_blue{
  width: 250px;
  border: white;
  border-radius: 30px;
  margin-left: 10px;
  height: 50px;
  float: left;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
  color: blue;
}
.blue:hover{
  background-color: blue;
  color: white;
}
.free{
  height: 1%;width: 100%;background-color: rgb(236, 234, 226);
}
.free>div>p{
  padding-top: 10px; text-align: center;
}
.learn_new{
text-align: center;
position: relative;
left :850px;
bottom: 39px; 
color: darkmagenta;
}
.browse_course{
-webkit-appearance: none;border: 0px;background: none; 
}
