* {
  font-family: "Open Sans", sans-serif;
}

 .upper-text-1, .upper-text-2, .upper-text-3{
        text-align: center;
        font-size: 30px;
    }
    .upper-text-2{
        margin-bottom: 3%;
    }
    .upper-text-3-1{
        text-align: center;
        font-size: 17px;
        color: grey;
        position: relative;
        bottom: 30px;
    }
    .main-1, .main-2, .main-3{
        width: 90%;
        display: flex;
        margin-left: 5%;
        border-radius: 2px;
    }
    .main-1{
        height: 300px;
    }
    .main-2{
        height: 187px;
    }
    .main-3{
        height: 150px;
    }
    .flex-1, .flex2, .flex-3{
        background-color: white;
        border-radius: 2px;
        flex-direction: column-reverse;
        border: 2px solid white;
    }
    .flex-4, .flex-5, .flex-6{
        flex-direction: column-reverse;
        width: 28%;
        height: 150px;
        background-color: white;
        border-radius: 2px;
    }
    .flex-5{
        margin-left: 6%;
    }
    .flex-6{
        margin-left: 6%;
    }
    .text-1, .text-2, .text-3{
        width: 16.7%;
        height: 170px;
    }
    .text-1{
        margin-left: 1%;
    }
    .text-2{
        margin-left: 8%;
    }
    .text-3{
        margin-left: 10%;
    }
    .details{
        color: grey;
        font-size: 17px;
        line-height: 1.4;
    }
    .img-2{
        margin-left: 90%;
    }
    .img-3{
        margin-left: 110%;
    }
    .img-5{
        margin-left: 6%;
    }
    .img-6{
        margin-left: 6%;
    }
    .text-4, .text-5, .text-6{
        font-size: 12px;
        margin-left: 5%;
    }
    .get-started{
        margin-top: 8%;
        margin-left: 7%;
        color:blue;
        font-size: 18px;
        background-color: white;
        border: 0;
        background: none;
        -webkit-appearance: none;
        font: bolder;
    }
    .see-more-topics{
        border: 0;
        background: none;
        -webkit-appearance: none;
        color: blue;
        margin-left: 43%;
        margin-top: 3%;
        font-size: 18px;
    }
    .main-4{
        width: 55%;
        height: 900px;
        margin-left: 20%;
    }
    .rectangle-1, .rectangle-2, .rectangle-3{
        width: 98%;
        height: 250px;
        background-color: white;
    }
    .rect-text-1{
        margin-left: 3%;
    }
    .rectangle-2{
        margin-top: 3%;
    }
    .rectangle-3{
        margin-top: 3%;
    }
    .loc-img-1{
        position: relative;
        left: 2%;
        top: 4%; 
    }
    .loc-text-1{
        position: relative;
        bottom: 15%;
        left: 8%;
        color: grey;
        font-size: 18px;
    }
    .cal-img-1{
        position: relative;
        bottom: 13%;
        left: 2%;
    }
    .cal-text-1{
        position: relative;
        bottom: 30%;
        left: 8%;
        color: grey;
    }
    .register-btn, .btn-events{
        border: 0;
        background: none;
        -webkit-appearance: none;
        font-size: 20px;
    }
    .register-btn{
        color: #48cae4;
        /* border: 1px solid black; */
    }
    .reg-b:hover{
        color: purple;
    }
    .btn-events{
        color: #00b4d8;
    }
    .btn{
        position: relative;
        left: 70%;
        bottom: 50%;
        /* border: 1px red solid; */
        width: 20%;
        height: 50px;
    }
    .see-more-events{
        text-align: center;
        width: 30%;
        height: 30px;
        background-color: #f8edeb;
        margin-left: 35%;
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 1%;
    }

body {
  background-color: rgb(248, 249, 251);
}

#video-cards-container {
  display: flex;
  padding: 10px;
  max-width: 1050px;
  margin: 0px auto;
  height: auto;
}

.video-card {
  flex-basis: 324px;
  background-color: white;
  margin: 30px;
  height: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-both {
  clear: both;
}

.video-card-info {
  position: relative;
  padding: 20px;
  color: grey;
  width: auto;
  min-height: 185px;
  margin: auto;
}

.video-card-info > p:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-card-info > p:nth-child(2) {
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

.heading {
  text-align: center;
}
.heading > p {
  color: grey;
}
iframe {
  width: 100%;
  height: 182px;
}

/* Partners */

.partner-img {
  display: none;
  height: 250px;
}
.partner-img > img {
  height: 180px;
  margin-left: 23%;
}

.Partners {
  background-color: white;
  padding: 30px;
  margin-bottom: 50px;
}
.Partners > h2 {
  text-align: center;
  margin-bottom: 50px;
}

/* slideshow containers */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(102, 102, 230);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.partner-img-text {
  color: grey;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  bottom: 8px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Certification */

.course-container {
  height: auto;
  width: 100%;
  background-color: white;
  /* border: 1px solid red; */
}

.course-content,
.course-img,
.course-about {
  /* border: 1px solid; */
  height: auto;
  width: 43%;
  margin: 50px auto;
  padding: 40px;
}

.course-detail,
.course-features,
.vertical-line {
  /* border: 1px solid; */
  height: 300px;
  width: 20%;
  margin: 50px 5px;
}

.course-img > img {
  width: 95%;
  margin: 0px 40px;
}

.course-content > h6 {
  background-color: rgb(255, 186, 18);
  padding: 10px;
  width: 130px;
}
.course-content > p,
.course-about > p {
  width: 100%;
  color: grey;
}
.sponser-icons > img:nth-child(1) {
  width: 20%;
  margin-right: 10px;
  color: grey;
}
.sponser-icons > img:nth-child(2) {
  width: 12%;
  margin-right: 10px;
  color: grey;
}
.sponser-icons > img:nth-child(3) {
  width: 8%;
  margin-right: 10px;
  color: grey;
}

#start-course-btn {
  background-color: rgb(22, 114, 249);
  color: white;
  border: transparent;
  border-radius: 2px;
  height: 45px;
  font-size: 15px;
  margin-top: 30px;
  width: 150px;
}
.course-detail,
.course-features {
  margin-left: 10px;
  font-size: 18px;
  color: grey;
  /* border: 1px solid; */
}
.course-detail > p,
.course-features > p {
  margin-left: 20px;
  font-size: 12px;
  color: grey;
}

#features > img {
  /* border: 1px solid; */
  margin: 15px;
  width: 10%;
  margin-right: 0px;
}
#details > h6,
#features > h6 {
  /* border: 1px solid; */
  width: 100px;
  font-size: 14px;
  font-weight: normal;
  margin: 15px;
  margin-right: 100px;
}
#features > h6 {
  /* border: 1px solid; */
  width: 180px;
  font-size: 14px;
  font-weight: normal;
  margin: 18px;
  margin-right: 25px;
}

#details > img {
  /* border: 1px solid; */
  margin: 15px;
  width: 9%;
  margin-right: 0px;
}
.vertical-line {
  width: 0.1px;
  /* height:80px; */
  background-color: grey;
}

/* Why get certified */

.benefits {
  margin-top: 80px;
}
.benefits > h2,
.FAQ > h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 80px;
}
.certificate,
.collapsible-divs {
  width: 49%;
}

.certificate > img {
  width: 50%;
  margin-top: 30px;
  margin-left: 200px;
  box-shadow: 0 0 15px;
}

.collapsible {
  background-color: transparent;
  color: grey;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.collapsible-divs > hr {
  width: 80%;
  margin-left: 20px;
  margin-top: 10px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  width: 80%;
  color: grey;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* How it works */
.steps-container {
  margin-top: 70px;
  background-color: white;
  padding: 50px;
  text-align: center;
}
.steps-container > h2 {
  font-size: 30px;
}
.step > p {
  color: grey;
}
.steps-container > div:nth-child(2) {
  margin-left: 9%;
}
.step {
  width: 300px;
  text-align: center;
  margin: 15px;
  height: 200px;
  font-size: 18px;
}
.arrow {
  width: 30px;
  margin: 5px;
  margin-top: 90px;
}
/* Modules */
.modules{
  height: auto;
  width: auto;
  margin: 80px;
}
.modules > h2{
  text-align: center;
  margin-bottom: 100px;
}

.cards {
  display: none;
  height: auto;
}

.module {
  height: 400px;
  padding: 60px;
  width: 30%;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 0 5px;
}
.module > img{
  width: 20%;
}
.module > h4{
  margin-bottom: 0px;
}
.module > p{
  margin-top: 5px;
  color: grey
}
.module > a{
  text-decoration: none;
  color: rgb(51, 51, 236);
  font-size: 14px;
}
.module >hr{
  margin-bottom: 15px;
}



/* slideshow containers */
.cards-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev1,
.next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(102, 102, 230);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.cards-text {
  color: grey;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  bottom: 8px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}



/* Skills you'll learn */
.skills {
    border-top: 1px solid rgb(179, 175, 175);;
  background-color: white;
  padding: 90px;
  height: auto;
}
.skills > h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 90px;
}
.skills > .slideshow-container > .partner-img > .partner-img-text {
  /* border: 1px solid; */
  top: 180px;
  font-size: 15px;
  padding: 10px;
  height: auto;
}
/* Stories */
.stories {
    border-top: 1px solid rgb(179, 175, 175); rgb(179, 175, 175);
  background-color: white;
  padding: 50px;
}

.stories > h2,
.stories > p {
  text-align: center;
  margin-bottom: 10px;
  color: grey;
}
.stories > h2 {
  font-size: 30px;
  color: black;
}
.story-video,
.story-txt {
  width: 49%;

  margin-top: 50px;
  height: 400px;
}
.story-video > iframe {
  width: 100%;
  height: 100%;
}
.story-txt {
  padding: 10px;
  padding-top: 50px;
  height: 340px;
}
.story-visible {
  margin: 20px;
}
.story-hide {
  color: grey;
  margin: 20px;
}
/* FAQ */
.FAQ {
  /* border: 1px solid; */
  border-top: 1px solid rgb(179, 175, 175);;
  text-align: center;
  background-color: white;
  padding: 50px;
}
.FAQ > hr {
  width: 70%;
}
.FAQ > .content{
  text-align: left;
  width: 65%;
  margin-left: 190px;
  height: auto;

}
#faq-btn {
  background-color: rgb(242, 244, 246);
  border: transparent;
  font-size: 15px;
  padding: 10px;
  width: 120px;
  font-weight: bold;
  margin-top: 40px;
}
/* Start today */
.start-today {
    border-top: 1px solid rgb(179, 175, 175);;
  text-align: center;
  width: 92.5%;
  background-color: white;
  padding: 50px;
}

.start-today > p {
  font-size: 22px;
}

/* footer */
.footer {
  width: 90%;
  margin: 5px auto;
}

.footer-share {
  text-align: right;
}

.footer-link-FAQs,
.footer-link-privacy {
  text-decoration: none;
  color: rgb(54, 54, 54);
  font-size: 13px;
  margin-right: 50px;
}

.footer-links {
  margin-left: 70px;
}
.footer-sharing-text {
  font-weight: bold;
  color: rgb(48, 47, 47);
}
.footer-languages-dropdown {
  border: none;
  background-color: transparent;
  font-size: 17px;
}

.footer > hr {
  margin-bottom: 25px;
  margin-top: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
